*.*
!backend
!backend/main.py
!backend/app.py
!backend/vector_store.py
!backend/project_state.py
!backend/message.py
!backend/requirements.py
!backend/profile
!backend/test_html.html
!backend/endpoints
!frontend/
!frontend/public
!frontend/src
!frontend/package-lock.json
!frontend/package.json
!frontend/tailwind.config.json
!frontend/README.md


