# First, ignore everything
*
*.*

# Then, explicitly allow specific directories and files

# Backend
!backend/
!backend/**/*.py
!backend/profile/
!backend/test_html.html
!backend/endpoints/

# Frontend
!frontend/
!frontend/public/
!frontend/src/
!frontend/src/components
!frontend/src/components/statusSideBar.js
!frontend/src/pages
!frontend/src/pages/context/
!frontend/src/pages/context/phaseContext.js
!frontend/src/pages/landingPage.js
!frontend/src/pages/selectSlide.js
!frontend/src/pages/preview.js
!frontend/src/components/slideSelection.js
!frontend/src/components/phase.js
!frontend/src/components/navigation.js

!frontend/src/components/previewSlide.js
!frontend/src/components/generateSlide.js
!frontend/package-lock.json
!frontend/package.json
!frontend/tailwind.config.json
!frontend/README.md

# Explicitly ignore certain directories and files
backend/.env
backend/Formulae/
backend/Searching/
backend/pitch-deck/
backend/workflow/
env/
_backup/
pitch-deck/
backend/test.py
backend/test_socket.py